body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 100vh;
background: rgb(238, 255, 0);
font-size: 0.7rem;

}

.keyboard{
   height: auto;
   margin: auto;
   width: 90vw;
   background: rgb(107, 107, 107);
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 0.5rem;
   
}
.row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.space{
    flex: 2;
    height: 40px;
    background: rgb(23, 23, 23);
}
.key{
    width: 35px;
    height: 35px;
    padding: 0.5rem;
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(206, 206, 206);
    background-color: rgb(23, 23, 23);
    transition: background-color 0.1s ease, transform 0.25s ease;
}
.key.active{
    background-color: rgb(255, 217, 0);
    color: rgb(255, 0, 0);
    transform: scale(0.85);
}
.backspace{
    width: 100px;
}
.enter{
    width: 80px;
}

.arrow-key{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    gap: 5px;
    margin-left: auto;
    flex-shrink: 0;
}
.arrow-key .key{
    height: 25px;
    width: 50px;
    display: flex;
}
.small {
    font-size: 0.8rem;
}